Merging divisions per season and saving in csv fil

In [1]:
import pandas as pd
import os
import numpy as np

In [7]:
def load_merge_data():
    df = pd.DataFrame()
    bool=False
    for subdir, dirs, files in os.walk('.'):
        #print(subdir)
        for file in files:
            #print(file)
            ext = os.path.splitext(file)[-1].lower()
            if ext == ".csv":
                datapath=os.path.join(subdir, file)
                #print(datapath)
                try:
                    data=pd.read_csv(datapath, header=0)
                    print(data.head())
                    #print(data)
                    df=pd.concat([df, data], axis=0, ignore_index=True)
                    bool=True
                    #print(d)
                    #print(datapath)
                except Exception:
                    print("Cannot read files: ",datapath)
        if bool:
            df.to_csv(subdir + '.csv')
        df = pd.DataFrame()
        
        return df

In [9]:
#data=pd.read_csv('.\csv files\Season 1993_1994\D1.csv', header=0, index_col=0)
#data.head()
df = load_merge_data()

Empty DataFrame
Columns: [Unnamed: 0]
Index: []
Empty DataFrame
Columns: [Unnamed: 0]
Index: []
   Unnamed: 0  ABP  AC  AF  AHW  AO  AR  AS  AST   AT  ...   Unnamed: 62  \
0           0  NaN NaN NaN  NaN NaN NaN NaN  NaN  NaN  ...           NaN
1           1  NaN NaN NaN  NaN NaN NaN NaN  NaN  NaN  ...           NaN
2           2  NaN NaN NaN  NaN NaN NaN NaN  NaN  NaN  ...           NaN
3           3  NaN NaN NaN  NaN NaN NaN NaN  NaN  NaN  ...           NaN
4           4  NaN NaN NaN  NaN NaN NaN NaN  NaN  NaN  ...           NaN

   Unnamed: 70 Unnamed: 71  Unnamed: 72  VCA  VCD  VCH  WHA  WHD   WHH
0          NaN         NaN          NaN  NaN  NaN  NaN  2.9  3.4  2.00
1          NaN         NaN          NaN  NaN  NaN  NaN  2.4  3.3  2.40
2          NaN         NaN          NaN  NaN  NaN  NaN  2.4  3.3  2.40
3          NaN         NaN          NaN  NaN  NaN  NaN  NaN  NaN   NaN
4          NaN         NaN          NaN  NaN  NaN  NaN  4.2  3.6  1.61

[5 rows x 152 columns]

#### Scrape Data For Features

In [58]:
import sqlite3

database = sqlite3.connect('database.sqlite')

#look up table names
all_tables = pd.read_sql("SELECT * FROM sqlite_master;", database)
print(all_tables)

players = all_tables.get(4)
players = pd.read_sql("SELECT * FROM Player;", database)
matches = pd.read_sql("SELECT * FROM Match;", database)
leagues = pd.read_sql("SELECT * FROM League;", database)
countries = pd.read_sql("SELECT * FROM Country;", database)
teams = pd.read_sql("SELECT * FROM Team;", database)
team_attributes = pd.read_sql("SELECT * FROM Team_Attributes;", database)
player_attributes = pd.read_sql("SELECT * FROM Player_Attributes;",database)

table_list = [players, matches, leagues, countries, teams, team_attributes, player_attributes]
total_list = pd.DataFrame()
#for table in table_list:
#   print '\n',table.info(),table.head()
    
total_list = pd.concat(table_list, axis=1)

print total_list.head()
print total_list.info()

     type                        name           tbl_name  rootpage  \
0   table             sqlite_sequence    sqlite_sequence         4
1   table           Player_Attributes  Player_Attributes        11
2   table                      Player             Player        14
3   index   sqlite_autoindex_Player_1             Player        15
4   index   sqlite_autoindex_Player_2             Player        17
5   table                       Match              Match        18
6   index    sqlite_autoindex_Match_1              Match        19
7   table                      League             League        24
8   index   sqlite_autoindex_League_1             League        25
9   table                     Country            Country        26
10  index  sqlite_autoindex_Country_1            Country        28
11  table                        Team               Team        29
12  index     sqlite_autoindex_Team_1               Team        30
13  table             Team_Attributes    Team_Attributes         2

                                                  sql
0              CREATE TABLE sqlite_sequence(name,seq)
1   CREATE TABLE "Player_Attributes" (\n\t`id`\tIN...
2   CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3                                                None
4                                                None
5   CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
6                                                None
7   CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
8                                                None
9   CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
10                                               None
11  CREATE TABLE "Team" (\n\t`id`\tINTEGER PRIMARY...
12                                               None
13  CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...
    id  player_api_id         player_name  player_fifa_api_id  \
0  1.0       505942.0  Aaron Appindangoye            218353.0
1  2.0       155782.0     Aaron Cresswell            189615.0
2  3.0       162549.0         Aaron Doran            186170.0
3  4.0        30572.0       Aaron Galindo            140161.0
4  5.0        23780.0        Aaron Hughes             17725.0

              birthday  height  weight   id  country_id  league_id  \
0  1992-02-29 00:00:00  182.88   187.0  1.0         1.0        1.0
1  1989-12-15 00:00:00  170.18   146.0  2.0         1.0        1.0
2  1991-05-13 00:00:00  170.18   163.0  3.0         1.0        1.0
3  1982-05-08 00:00:00  182.88   198.0  4.0         1.0        1.0
4  1979-11-08 00:00:00  182.88   154.0  5.0         1.0        1.0

      ...      vision  penalties marking  standing_tackle  sliding_tackle  \
0     ...        54.0       48.0    65.0             69.0            69.0
1     ...        54.0       48.0    65.0             69.0            69.0
2     ...        54.0       48.0    65.0             66.0            69.0
3     ...        53.0       47.0    62.0             63.0            66.0
4     ...        53.0       47.0    62.0             63.0            66.0

   gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
0        6.0         11.0        10.0             8.0          8.0
1        6.0         11.0        10.0             8.0          8.0
2        6.0         11.0        10.0             8.0          8.0
3        5.0         10.0         9.0             7.0          7.0
4        5.0         10.0         9.0             7.0          7.0

[5 rows x 199 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183978 entries, 0 to 183977
Columns: 199 entries, id to gk_reflexes
dtypes: float64(163), int64(3), object(33)
memory usage: 279.3+ MB
None

In [60]:
total_list.to_csv('mergedlist.csv', encoding='utf-8')